$HTTP["remoteip"] !~ "XXXXIP_ADDRESSESXXXX" {   ##WHITE-LIST-MARKER
       url.access-deny = ( "" )                 ##WHITE-LIST-MARKER
  }                                             ##WHITE-LIST-MARKER
